@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Home style */
  .home {
    @apply w-full h-full absolute bg-[url("../assets/images/home-background.jpg")] 
    bg-cover bg-center flex flex-col justify-center items-start font-medium text-3xl top-0 left-0 -z-10;
  }
  .home a {
    color: #595959;
    text-decoration: none;
  }
  .home > * {
    position: relative;
    left: calc(45px + 150px);
    bottom: 4%;
    width: auto;
    z-index: 1;
    margin: 4px 0;
  }

  .home > div:first-child > span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
  }

  .home > div > div {
    background: #e5e4e2;
    width: 300px;
    height: 14px;
    position: absolute;
    right: 0;
    z-index: -1;
    bottom: 0;
    border-radius: 80px;
  }

  .home > a > div > span {
    background: #3aab97;
    border-radius: 80px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    border: #3aab97 solid 1px;
  }

  .home > a:hover > div > span {
    background: #ffffff00;
    color: #3aab97;
  }

  .home > a > div > span > *:first-child {
    position: relative;
    top: 0;
  }
  /* Pets View.... */
  .header {
    @apply flex items-start justify-end;
  }
  .control-left {
    flex-grow: 1;
    display: flex;
    margin-bottom: 8px;
    align-items: flex-start;
  }
  div.distance {
    display: flex;
    min-width: 5em;
  }
  span.distance {
    padding: 8px;
    border: #3aab97 solid 1px;
    color: #fff;
    background: #3aab97;
    border-radius: 2px;
    margin-right: 8px;
  }

  .distance .material-design-icon {
    height: 15px;
    width: 15px;
    fill: #fff;
  }
}
